@import '/src/utils/variables';
@import '/src/utils/media';

.logo__text {
	font-size: 24px;
	font-weight: 900;
	color: $color-accent;
	text-transform: uppercase;

	&:active {
		color: $color-link-active;
	}
}
