@import "/src/utils/variables";
@import "/src/utils/media";

.logo__text {
  font-size: 16px;
  font-weight: 900;
  color: $color-black;
  text-transform: uppercase;

  &:hover {
    color: $color-green-hover;
  }
  &:active {
    color: $color-green-active;
  }
}
