@import '/src/utils/variables';
@import '/src/utils/media';

.edit-test-page {
	&__header {
		margin-bottom: 36px;
	}
}

// TODO: нужно будет превратить в элементы блока edit-test-page
.question__list {
	margin-bottom: 24px;
}

.question__add {
	margin-bottom: 24px;
}
