@import '/src/utils/variables';
@import '/src/utils/media';

.edit-test-page {
	&__header {
		margin-bottom: 36px;
	}

	&__heading {
		cursor: pointer;
		margin-bottom: 6px;
	}
}

.question-list {
	list-style: none;
	margin-bottom: 24px;
}

.question__add {
	margin-bottom: 24px;
}
