@import '/src/utils/variables';
@import '/src/utils/media';

.test-item {
	display: flex;
	flex-direction: column;
	gap: 9px;

	&__title {
		font-weight: 500;
	}

	&__question-number {
		color: $color-gray;
	}
}
