@import '/src/utils/variables';
@import '/src/utils/media';

.test-item {
	display: flex;
	flex-direction: column;
	gap: 9px;
	margin-top: 24px;

	&__details {
		display: flex;
		gap: 9px;
		align-items: center;
	}

	&__title {
		font-weight: 500;
	}

	&__question-number {
		color: $color-gray;
	}
}
