@import '/src/utils/variables';
@import '/src/utils/media';

.layout {
	display: flex;
	flex-direction: column;
	height: 100%;
	background: $color-white;
	color: $color-black;

	&__header {
		display: flex;
		flex-shrink: 0;
	}

	&__main {
		display: flex;
		flex: 1 0 auto;
		flex-direction: column;
		row-gap: 135px;

		margin-top: 60px;

		@include media-mobile {
			row-gap: 75px;
			margin-top: 30px;
		}
	}

	&__footer {
		flex: 0 0 auto;
		margin-top: 60px;

		@include media-mobile {
			margin-top: 40px;
		}
	}
}
