@import "/src/utils/variables";
@import "/src/utils/media";

@mixin paragraph {
  font-size: 16px;
  line-height: 150%;

  @include media-mobile {
    font-size: 14px;
  }
}

.paragraph {
  @include paragraph;
}

@mixin paragraph_small {
  @include paragraph;

  font-size: 14px;

  @include media-mobile {
    font-size: 12px;
  }
}

.paragraph_small {
  @include paragraph_small();
}
