/* stylelint-disable no-descending-specificity */
@import '/src/utils/variables';
@import '/src/utils/media';
@import '/src/components/ui/typography/paragraph/paragraph.module';

.input-wrapper {
	position: relative;
	width: 100%;
}

.input {
	@include paragraph_small;
	width: 100%;
	height: 40px;
	padding: 12px;
	border: 1px solid $color-input-border;
	border-radius: 2px;
	background: $color-white;
	appearance: none;
	cursor: pointer;

	@include media-mobile {
		padding: 10px 16px;
	}

	&:focus {
		border-color: $color-gray-hover;
		outline: none;
	}

	&::placeholder {
		color: $color-gray;
	}

	&_invalid:not(&:focus) {
		border: 2px solid $color-red;

		&::placeholder {
			color: $color-red;
		}
	}

	&_solid {
		border: none;
		background-color: $color-input-background;
	}

	&-clear {
		position: absolute;
		right: 0;
		bottom: 0;
	}
}
