$container-width-desktop: 1024px;
$container-width-laptop: 720px;

$color-accent: #67b4ff;

$color-white: #fff;
$color-black: #333333;
$color-gray: #828282;
$color-gray-hover: #706f6f;
$color-gray-active: #575757;

$color-green: #89cea5;
$color-green-hover: #4fb779;
$color-green-active: #468c62;

$color-red: #e27c7c;
$color-red-hover: #c76767;
$color-red-active: #a04a4a;

$color-tag-text: #27ae60;
$color-tag-bg: #cffae1;

$color-divider: #d7d7d7;

$color-subtitle: #4f4f4f;
