$container-width-desktop: 1024px;
$container-width-laptop: 720px;

$color-white: #fff;
$color-gray: #828282;
$color-gray-hover: #706f6f;
$color-gray-active: #575757;
$color-black: #303030;

$color-accent: #4d91f9;

$color-link: #2872ff;
$color-link-hover: #306dcb;
$color-link-active: #004eb6;

$color-green: #89cea5;
$color-green-hover: #4fb779;
$color-green-active: #468c62;
$color-orange: #ced132;
$color-orange-hover: #adaf29;
$color-orange-active: #7e801e;

$color-red: #e44242;
$color-red-hover: #c76767;
$color-red-active: #a04a4a;

$color-input-background: #f5f5f5;
$color-input-border: #d7d7d7;
$color-header-border: #d7d7d7;
$color-footer-border: #d7d7d7;
$color-pic-border: #f0f0f0;
$color-file-loader-bg: #f5f5f5;

$color-divider: #d7d7d7;

$color-subtitle: #4f4f4f;
