@import '/src/utils/variables';
@import '/src/utils/media';

.test-page {
	&__header {
		margin-bottom: 48px;
	}

	&__heading {
		cursor: pointer;
	}
}

.question-list {
	list-style: none;
	margin-bottom: 24px;
}

.question-add {
	margin-bottom: 24px;

	&__heading {
		margin-bottom: 12px;
	}

	&__dropdown {
		margin-bottom: 18px;
	}
}
