@import '/src/utils/variables';
@import '/src/utils/media';

.radio {
	display: flex;
	align-items: center;
	column-gap: 12px;
	cursor: pointer;

	@include media-mobile {
		column-gap: 10px;
	}
}

.radio__input {
	display: none;

	&:checked + .fake-control::after {
		content: url('/radio-checked.svg');
	}
}

.fake-control {
	position: relative;
	display: block;
	width: 18px;
	height: 18px;
	flex-shrink: 0;

	&::after {
		content: url('/radio.svg');
	}
}
