@import "/src/utils/variables";
@import "/src/utils/media";

.label {
  font-size: 16px;
  font-weight: 500;

  @include media-mobile {
    font-size: 14px;
  }

  &_small {
    font-size: 14px;
  }

  &_extra-small {
    font-size: 12px;
  }
}
